/*
color code
#a7866b
#b79880
#ffbd75
#f2f2f2
#605c53
*/

.main-container {
    display:flex;
    flex-direction:column;
}

.top-banner {
    display:flex;
    flex-direction:column;
    align-items:center;

    width:100%;
    min-height:230px;

    padding:47px 10px 10px 10px;

    background-color:#423022;

    text-align:center;
    word-break: keep-all;
}

.banner-content {
    color:white;
}

.banner-content > h5 {
    margin-bottom:2px;
}

.overlay-banner {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-around;

    width:100%;
    min-height:260px;

    margin-top:-140px;
    margin-bottom:40px;
    padding:30px 20px 15px 20px;

    background-color:white;
    border-radius:10px;

    text-align:left;
}

.progress-container {
    width:100%;
}

.progress-container > h1 {
    margin-bottom:5px;
}

.progress-bar {
    text-align:center;
    padding:0;
}

.overlay-banner-btn-group {
    display:flex;
    flex-direction:row;
    align-items:center;
    
    width:100%;

    margin-top:10px;
}

.overlay-banner-btn-group > .btn {
    margin:2px;
    flex-grow:1;
}

.content-container {
    flex-grow:1;
    display:flex;
    flex-direction:column;

    width:100%;
    padding:20px;
    max-width:500px;
}

.content-card {
    width:100%;

    padding:20px;
    margin:17px 0 30px 0;
    
    background-color:white;
    border-radius:5px;
    
    box-shadow: 0px 0px 4px 0px #AAA;
}

.card-title {
    color:#333;
    letter-spacing:-0.7px;
}

.streak {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.streak-unit {
    width:15px;
    height:15px;

    margin:2px;

    background-color:#CCC;
    border-radius:3px;
    /* margin:10px 0px 10px 0px; */
}

.index-container {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;

    width:100%;
    
    padding-top:10px;
}

.index-box {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    width:49%;
}

.index-indicator {
    border-radius:50%;
    width:10px;
    height:10px;
    margin:5px;
}