/*
color code
#a7866b
#b79880
#ffbd75
#f2f2f2
#605c53
*/

.main-container {
    display:flex;
    flex-direction:column;
    justify-content:space-around;

    overflow:hidden;
    padding-top:50px;
    padding-bottom:100px;
}

.widget-container {
    display:flex;
    flex-direction:row;
    justify-content:space-around;

    width:100%;

    text-align:center;
}

/* icon data */

    .icon {
        background: #666;
        border-radius: 100%;
        color: #ffffff;
        cursor: default;
        display: inline-block;
        height: 2em;
        line-height: 2em;
        width: 2em;
        text-align:center;
    }

    .icon.accent1 {
        background: #666;
        color: #ffffff;
    }

    .icon.accent2 {
        background: #e89980;
        color: #ffffff;
    }

    .icon.accent3 {
        background: #7fcdb8;
        color: #ffffff;
    }

    .icon.accent4 {
        background: #90b0ba;
        color: #ffffff;
    }

    .icon.accent5 {
        background: #a7866b;
        color: #ffffff;
    }