/*
color code
#a7866b
#b79880
#ffbd75
#f2f2f2
#605c53
*/

.main-container {
    display:flex;
    flex-direction:column;

    overflow:hidden;
}

.content-container {
    flex-grow:1;
    display:flex;
    flex-direction:column;
    justify-content: center;

    width:100%;
    padding:20px;
    max-width:500px;
}