/*
color code
#a7866b
#b79880
#ffbd75
#f2f2f2
#605c53
*/

.main-container {
    display:flex;
    flex-direction:column;
}

.content-container {
    flex-grow:1;
    display:flex;
    flex-direction:column;

    width:100%;
    padding:20px;
    max-width:500px;
}

.content-card {
    width:100%;

    padding:20px;
    margin:17px 0 30px 0;
    
    background-color:white;
    border-radius:5px;
    
    box-shadow: 0px 0px 4px 0px #AAA;
}

.card-title {
    color:#333;
    letter-spacing:-0.7px;
}

/* stat */

.statistic-table {
    width:100%;
    text-align:left;
    border-color:#EEE;
}

td:nth-child(2) {
    text-align:right;
}
td:nth-child(1) {
    text-align:left;
}
td {
    padding:10px;
}

/* stat end */

.union {
    display:flex;
    flex-direction:row;
    padding:0;
    margin:0;
    text-align:right;
}

.streak {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
}

.streak-unit {
    display:inline-block;

    width:17px;
    height:17px;

    margin:2px;

    background-color:#CCC;
    border-radius:3px;
    /* margin:10px 0px 10px 0px; */
}

.kawaii-unit {
    display:block;
    height:17px;

    margin:2px;
    border-radius:3px;
}

.twenty-seven {
    width:100%;
    word-break:keep-all;
    white-space:nowrap;
    margin:0;
}

.large-streak {
    overflow-x: auto;
}

/* Hansome Index */
    .index-container {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;

        width:100%;
        
        padding-top:10px;
    }

    .index-box {
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
        width:49%;
    }

    .index-indicator {
        border-radius:50%;
        width:10px;
        height:10px;
        margin:5px;
    }